<div class="sticky bg-[#040714] top-0 z-[1000] flex  items-center px-10 md:px-12 h-[72px]">
 
 
    <div class=" items-start  font-semibold   mx-auto md:flex  space-x-6 pr-6 ">
      <a class="header-link group text-white">
        page 1
      </a>
      <a class="header-link group text-white">
        page 2
      </a>
      <a class="header-link group text-white">
        page 3
      </a>
      <a class="header-link group text-white">
        page 4
      </a>

     
    </div>
 
   
</div>
